::-webkit-scrollbar {
  display: none;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 320px;	
}

@media screen and (max-width: 767px) {
	body {
		margin-bottom: 500px;
	}
}